body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Courgette', cursive;
    background-color: #802d9e;
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.keys {
    color: #802d9e;
    margin-top: 40vh;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    height: 100px;
    line-height: 100px;
    width: 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    transition-property: background-color;
    transition-duration: 0.2s;
    box-shadow:
        1.6px 1.6px 2.9px rgba(0, 0, 0, 0.038),
        3.4px 3.4px 6.4px rgba(0, 0, 0, 0.056),
        5.8px 5.8px 10.6px rgba(0, 0, 0, 0.069),
        8.7px 8.7px 16.1px rgba(0, 0, 0, 0.08),
        12.5px 12.5px 23.2px rgba(0, 0, 0, 0.09),
        17.7px 17.7px 32.8px rgba(0, 0, 0, 0.1),
        25.1px 25.1px 46.5px rgba(0, 0, 0, 0.111),
        36.5px 36.5px 67.5px rgba(0, 0, 0, 0.124),
        56.3px 56.3px 104.1px rgba(0, 0, 0, 0.142),
        100px 100px 185px rgba(0, 0, 0, 0.18);
}

.keys-change {
    background-color: rgb(87, 87, 87);
    border: 3px solid gold;
    color: white;
}